<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pacjenci</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>Nazwisko</td>
            <td>Imię</td>
            <td>Pesel</td>
            <td>Państwo</td>
            <td>Miejscowość</td>
            <td>Kod pocztowy</td>
            <td>Adres</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" patient : ${patients}">
            <td th:text="${patient.lastName}"></td>
            <td th:text="${patient.firstName}"></td>
            <td th:text="${patient.pesel}"></td>
            <td th:text="${patient.country}"></td>
            <td th:text="${patient.city}"></td>
            <td th:text="${patient.zipCode}"></td>
            <td th:text="${patient.address}"></td>
            <td><a th:href="${'/patient/'+patient.id}">Szczegóły</a></span></td>
            <td><a th:href="${'/patient/delete/'+patient.id}">Usuń</a></span></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <a href="/patient/add">Dodaj nowego pacjenta</a>
    </div>
</div>
</body>
</html>