<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rejestracja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<table class="calendar table table-bordered">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th width="20%">Poniedziałek</th>
        <th width="20%">Wtorek</th>
        <th width="20%">Środa</th>
        <th width="20%">Czwartek</th>
        <th width="20%">Piątek</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>08:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>08:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>09:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>09:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>10:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>10:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>11:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>11:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>12:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>12:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>13:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>13:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>14:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>14:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>15:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>15:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>16:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>16:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>17:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>17:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>18:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>18:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>19:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>19:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>20:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>20:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>21:00</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    <tr>
        <td>21:30</td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
        <td class=" no-events" rowspan="1"></td>
    </tr>
    </tbody>
</table>

</html>